html {
    font-family: 'Cinzel', serif;
    background-color: #ececdb;
    text-align: center;
}

body {
    margin: 25px auto;
    border: 1px solid;
    border-radius: 7.5px;
    width: 90%;
    box-shadow: 0 10px 10px 1px inset rgb(65, 64, 62);
}

.outer-wrapper {
    margin: 25px auto;
    border: 1.25px solid;
    border-radius: 5px;
    width: 90%;
    box-shadow: 0 10px 10px 1px rgb(65, 64, 62);
}

.header-and-form {
    text-align: center;
}

form > input {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    font-family: 'Cinzel', serif;
    background-color: #ececdb;
    border: 0;
    border-bottom: 1px solid;
    width: 85%;
    text-align: center;
    font-size: 1.25rem;
    outline: none;
}

@media only screen and (min-width: 600px) {
    form > input {
        width: 60%;
    }
    
    body {
        width: 70%;
    }
}

@media only screen and (min-width: 900px) {
    form > input {
        width: 55%;
    }

    body {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    form > input {
        width: 50%;
    }

    body {
        width: 40%;
    }
}

.add-task-button {
    padding: 15px;
    margin: 15px 0 20px 0;
    font-family: 'Cinzel', serif;
    font-size: 1.25rem;
    background-color: #ececdb;
    border: 1px solid;
    border-radius: 90%;
    box-shadow: 0 5px 10px 1px rgb(65, 64, 62);
    outline: none;
}

.add-task-button:active {
  background-color: rgb(238,235,209);
  box-shadow: 0 5px rgb(65, 64, 62);
  transform: translateY(4px);
}

.remove-task-button {
    padding: 15px;
    margin: 20px 0 15px 0;
    font-family: 'Cinzel', serif;
    font-size: 1.25rem;
    background-color: #ececdb;
    border: 1px solid;
    border-radius: 90%;
    box-shadow: 0 5px 10px 1px rgb(65, 64, 62);
    outline: none;
}

.remove-task-button:active {
  background-color: rgb(238,235,209);
  box-shadow: 0 5px rgb(65, 64, 62);
  transform: translateY(4px);
}

.taskPTag {
    font-size: 1.25rem;
}


.instructions-p-tag {
    padding: 0 10px;
}