html {
    font-family: 'Homemade Apple', cursive;
    background-color: #ececdb;
    text-align: center;
}

.header-and-form {
    text-align: center;
}

form > input {
    margin: 0 25px;
    font-family: 'Homemade Apple', cursive;
    background-color: #ececdb;
    border: 0;
    border-bottom: 1px solid;
    width: 20%;
    text-align: center;
    font-size: 1.25rem;
    outline: none;
}

.add-task-button {
    padding: 15px;
    font-family: 'Homemade Apple', cursive;
    font-size: 1.25rem;
    background-color: #ececdb;
    border: 1px solid;
    border-radius: 90%;
    outline: none;
}

.remove-task-button {
    padding: 15px;
    margin-top: 15px;
    font-family: 'Homemade Apple', cursive;
    font-size: 1.25rem;
    background-color: #ececdb;
    border: 1px solid;
    border-radius: 90%;
    outline: none;
}

.taskPTag {
    font-size: 1.25rem;
}